@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html{
  font-family: 'Inter', sans-serif;
  color: rgba(10, 56, 113, 1);
}
body{
  background-color: #F3F5FC;
  font-size: 25px;
  align-items: center;
  
}
.titulo{
  margin: 20px 0px 10px 150px;
}
.btn {
  display: flex;
  border: 0;
  color: white;
  font-weight: bold;
  background-color: rgb(10, 90, 250);
  padding: 10px;
  margin: 5px;
  border-radius: 0.5em;
}
.texto {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 144px;
}
.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  margin-bottom: 2px;
  width: 200px;
  height: 25px;
}
#forca {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
#letra-errada {
  display: flex;
  flex-direction: row;
  width: 550px;
  height: 70px;
  left: 530px;
  top: 330px;
  position: absolute;
}
#palavra-certa {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 70px;
  left: 428px;
  top: 630px;
  position: absolute;
}
#letra {
  border-bottom: 5px solid black;
  margin-right: 5px;
  width: 45px;
  height: 55px;
  font-size: 45px;
  text-align: center;
}
.reiniciar {
  display: flex;
  width: auto;
  position:relative;
  left: 150px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.rodape {
  display: flex;
  font-size: 13px;
  margin: 10px;
}
.footer img {
  display: flex;
  height: 20px;
  margin: 10px;
}