@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;700&display=swap');

html{
  font-family: 'Overpass', sans-serif;

}
body{
  background-color: #F3F5FC;
  color: #9B2727;
  align-items: center;
  
}
.conteiner{
  text-align: center;
}
.titulo{
  margin: 10px 0 10px 0;
  font-size: 38px;
}
.entradas {
  margin: 10px 0 10px 0;
  text-align: center;
}
.text-input {
  border-radius: 0.5em;
  border: 1px solid #2F5556;
  padding: 0.5em;
  margin: 5px;
  width: 15%;
  height: 25px;
}
.btn {
  border: 0;
  color: #FFF5EE;
  font-weight: bold;
  background-color: #2F5556;
  padding: 0.5em;
  margin: 5px;
  border-radius: 0.5em;
  width: 156px;
  height: 40px;
}
.btn:hover {
  background: #2F5570;
}
.jogo {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.palavras{
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}
#letra-errada {
  font-size: 25px;
  width: 100%;
  height: 360px;
}
#palavra-certa {
  width: 100%;
  height: 90px;
}
#letra {
  display: inline-block;
  border-bottom: 5px solid black;
  margin-right: 5px;
  width: 45px;
  height: 55px;
  font-size: 45px;
  text-align: center;
}

.reiniciar {
  display: none;
  text-align: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto-rodape{
  font-size: 15px;
  margin: 10px;
}
.footer img {
  height: 20px;
  margin: 10px;
}
@media screen and (max-width: 750px){
  .entradas{
    display: flex;
    flex-wrap: wrap;
  }
  .text-input{
    width: 50%;
  }
  .jogo{
    display: block;
  }
  #forca{
    width: 100%;
  }
  .palavras{
    display: inline;
  }
  #palavra-certa, #letra-errada{
    height: auto;
  }
}